<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UV-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width,initial-scale=1">
    	<title>Item Catalog</title>
		<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet"> <!-- Getting a font from google fonts -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
		<link rel="stylesheet" href="item.css"> <!-- This links to my main css file for styling -->
	</head>
	<body>


		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>